<h1 style="color:blue;"><center>Vista de Productos</center></h1>
{{#if listExists}}
	<div class="container">
		<div class="row">
			<div class="col">
				<table class="table table-striped table-bordered table-hover table-dark">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Foto URL</th>
						</tr>
					</thead>
					<tbody>                        
							{{#each productList}}
							<tr>
								<td>{{this.title}}</td>
								<td>{{this.price}}</td>
								<td><img src="{{this.thumbnail}}"></td>
							</tr>
							{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{{else}}
	<h2 style="color:green;"><center>No se encontraron productos</center></h2>
{{/if}}
<form action="/" method="get">
    <button class="btn btn-outline-secondary"><center>Cargar Productos</center></button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
